<!DOCTYPE html>
<html>
    <title>Разметка датасета</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1 {font-family: "Raleway", sans-serif}
        body, html {height: 100%}
    </style>
    <body>
        <a href ="/"><h2 class="w3-text-blue">Разметка отзывов</h2></a>
        <div class="w3-container w3-card-4">
            <form class="w3-container" method="POST" action="/en_mark">
                <p> FROM: {{ source|safe }} </p>
                <p> Title: {{ title|safe }} </p>
                <p> Review: {{ content|safe }} </p>
                <p> Перевод: {{ translated|safe }} </p>
                <p style="display:none;">
                    <input type="text" name="title" value="{{ title|safe }}"><br>
                    <input type="text" name="content" value="{{ content|safe }}"><br>
                </p>
                <p><b>Tag</b></p>
                <p>
                    {{ tags|safe }}
                </p>
                <button class="w3-btn w3-blue" type="submit">Следующий</button>
            </form>
        </div>
        <div class="w3-panel w3-padding-large">
            <a href="/early_stop">Остановить и обновить en_probs.csv</a>
        </div>
    </body>
</html>