<!DOCTYPE html>
<html>
    <title>Разметка датасета</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1 {font-family: "Raleway", sans-serif}
        body, html {height: 100%}
    </style>
    <body>
        <a href ="/"><h2 class="w3-text-blue">Разметка отзывов</h2></a>
        <div class="w3-container w3-card-4">
            <form class="w3-container" method="POST" action="/en_mark">
                <p> Title: {{ title|safe }} </p>
                <p> Review: {{ review|safe }} </p>
                <p> Перевод: {{ translated|safe }} </p>
                <p>
                    <input class="w3-input w3-border" name="index" type="text" value="{{ i|safe }}">
                    <label class="w3-text-blue"><b> из {{ total|safe }}</b></label>
                </p>
                <p><b>Semantic</b></p>
                <p>
                    {% for c in sem %}
                        <input class="w3-radio w3-margin-left" type="radio" name="sem" value="{{c}}">
                        <label>{{c}}</label>
                    {% endfor %}
                </p>
                <p><b>Tag</b></p>
                <p>
                    {% for c in tag %}
                        <input class="w3-check w3-margin-left" type="checkbox" name="{{c}}" value=1>
                        <label>{{c}}</label>
                    {% endfor %}
                </p>
                <p><b>Bug</b></p>
                <p>
                    {% for c in bug %}
                        <input class="w3-check w3-margin-left" type="checkbox" name="{{c}}" value=1>
                        <label>{{c}}</label>
                    {% endfor %}
                </p>
                <button class="w3-btn w3-blue" type="submit">Следующий</button>
            </form>
        </div>
        <div class="w3-panel w3-padding-large">
            <a href="/early_stop">Остановить и сохранить в Excel</a>
        </div>
    </body>
</html>