<!DOCTYPE html>
<html>
    <title>IMG2ZONE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1 {font-family: "Raleway", sans-serif}
        body, html {height: 100%}
    </style>
    <body>
        <div class="w3-container">
            <a href="ru_mark"><h2 class="w3-text-blue">Разметка на русском</h2></a>
        </div>
        <div class="w3-container">
            <a href="en_mark"><h2 class="w3-text-blue">Разметка на английском</h2></a>
        </div>
    </body>
</html>